* {
    margin: 0;
    padding: 5px;
}

.conteiner {
    margin: auto;
    max-width: 600px;
}
/* .navigation {
     background-color: rgb(134, 167, 132);
     padding: 10px 20px;
     list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
     font-size: 14px;
     font-weight: 700;
 }
 .navigation li {
    margin-right: 10px;
 }
.navigation li:last-child {
    margin: 0px;
}
.navigation li:hover {
    background-color: aquamarine;
 }
.navigation a:hover {
    color: black;
} */
img {
    padding: 0;
    border-radius: 25%;
    box-shadow: 4px 4px 15px rgb(142, 143, 142);
}
img:hover {
    box-shadow: 4px 4px 15px rgb(94, 94, 95);
}
@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');

body {
 /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
 background-color: rgb(171 181 201);
 font-family: 'Roboto', sans-serif;
 font-size: 18px;
 font-weight: 900;
 /* text-decoration: line-through; */
 font-style: italic;
 color: rgb(47 50 55);
}
hr {
    background-color: rgba(249, 246, 246, 0.51);
    border: 5px;
    border-radius: 15px;
    padding: 3px;
    margin-bottom: 10px;
}
header {
    /* font-size: 15px; */
    /* border-bottom: 3px solid rgb(230, 224, 221);
    border-bottom-left-radius: 20px; */
    padding-left: 20px;
    padding-bottom: 2px;
    margin-bottom: 15px;
}

.info {
    display: flex;
    margin-top: 5px;

}

.card {
    /* background-color: rgb(122, 216, 163); */
    opacity: 0.9;
    padding-right: 3px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.html {
 background: rgb(232, 212, 164);
 /* border-radius: 20px; */
}

.hobby {
    background-color: rgb(150, 159, 176);
    padding-left: 5px;
}
.hobby li {
    border-bottom: 1px solid grey;
    list-style: none;
}
.exp {
    background-color: rgba(192, 202, 223, 0.722);
    font-weight: 800;
}

table {
    width: 100%;
}
table td {
    text-align: left;
}

.connect {
    background-color: rgb(150, 159, 176);
}

a {
    color:rgb(253, 248, 248);
    text-decoration: none;
    transition: all .2s;
}

.connect a:hover {
    color:rgb(81, 80, 82);
    font-size: 2rem;
}
a:active {
    color:rgb(13, 54, 24);
}
/* a:visited {
    text-decoration:line-through;
    color: rgb(149, 149, 229);
 } */
.btn {
    background-color: rgb(17, 16, 17);
    color:rgb(230, 224, 221);
    border: none;
    padding: 8px 10px;
    border-radius: 12px;
    font-family: inherit;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.8;
    color: rgb(248, 244, 248);
}

.text {
    background-color: rgb(185 195 215);  
}
.text h2 {
    text-align: center;
}
.form-row {
    margin-bottom: 10px;
    display: flex;

}
.form-row .form-group {
    width: 50%;
}
.form-group label {
    display: block;
    font-size: 14px;
    color:rgb(81, 81, 81);
}
.form-group {
    padding-bottom: 0px;
}
.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    font-family: inherit;
}
@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
    }
}